<%- include ('../layouts/header.ejs') %>

    <div class="container">
        </form>
        <div class="container-fluid px-1 py-5 mx-auto">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                    <div class="card">
                        <h5 class="text-center mb-4">Add New Pilot to F1</h5>
                        <form class="form-card" action="/editPilot/<%= data.id_pilot %> "
                            method="post" enctype="multipart/form-data">
                            <div class="row justify-content-between text-start" style="border: 1px none blue;">
                               
                                    <div class="form-group col-sm-6 flex-column d-flex"> 
                                        <label
                                            class="form-control-label px-0">NickName<span class="text-danger">
                                                *</span></label> 
                                                <input type="text" id="nick" name="nick"
                                            onblur="validate(1)" value="<%= data.nick  %> ">
                                    </div>
                            </div>

                            <div class="row justify-content-between text-start mt-3">
                                <div class="form-group col-sm-6 flex-column d-flex">
                                    <label class="form-control-label px-3">Name<span class="text-danger">
                                            *</span>
                                    </label>
                                    <input type="text" id="name_pilot" name="name_pilot" value="<%= data.name_pilot  %> " onblur="validate(3)">
                                </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label
                                        class="form-control-label px-3">Last name<span class="text-danger">
                                            *</span></label> <input type="text" id="last_name" name="last_name"
                                        value="<%= data.last_name%>" onblur="validate(4)"> </div>
                            </div>


                            <div class="row justify-content-between text-start mt-3">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label
                                        class="form-control-label px-3">Country<span class="text-danger">
                                            *</span></label> <input type="text" id="country_pilot" name="country_pilot"
                                        value="<%= data.country_pilot%>" onblur="validate(3)"> </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label
                                        class="form-control-label px-3">Points<span class="text-danger">
                                            *</span></label> <input type="text" id="points" name="points" value="<%= data.points%>"
                                        onblur="validate(4)"> </div>
                            </div>


                            <div class="row justify-content-between text-start mt-3">
                                <div class="form-group col-sm-6 flex-column d-flex">
                                    <label class="form-control-label px-3">Team<span class="text-danger">
                                            *</span></label><select id="team" name="id_team" class="select" onblur="validate(3)">
                                                <% for( let i = 0; i < equipos.length; i++ ) { %>
                                                
                                                    <option value="<%= equipos[i].id_team %>"><%= equipos[i].name_team %></option>
                                                    <% } %>
                                    </select>
                                </div>

                                <div class="form-group col-sm-6 flex-column d-flex"> <label
                                        class="form-control-label px-3">Age<span class="text-danger">
                                            *</span></label> <input type="text" id="age" name="age" value="<%= data.age%>"
                                        onblur="validate(4)"> </div>
                            </div>



                            <div class="row justify-content-between text-start mt-3">
                                <div class="form-group col-sm-10 flex-column d-flex"> <label
                                        class="form-control-label px-3">Photo<span class="text-danger">
                                            *</span></label> <input type="file" id="photo_pilot" name="photo_pilot" value="<%= data.photo_pilot%>"
                                        onblur="validate(5)"> </div>
                            </div>

                            


                            <div class="row justify-content-center mt-2">
                                <div class="form-group col-sm-6"> 
                                    <input type="submit" value="SAVE Pilot" class="btn-block btn-success">
                                    </div>
    
                                <div class="form-group col-sm-6 mt-2"> 
                                    <a href="../listPilot" class="btn btn-danger" role="button">CANCEL</a>
                                    </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>


    <%- include ('../layouts/footer.ejs') %>